
* {
    background-color: aquamarine;
    font-size: 50px;
}

h1 {
    color:red;
    font-size: 50px;
}

.large {
    font-size: 50px;
}

.large {
    text-align: large ;
}

.center { text-align: center; }

#para1 { color: blue; 
}


/* selector{

    property: value;
    property: value;

} */